@model Infrastructure.Data.DTO.Hero

@{
    ViewData["Title"] = "HeroInfo";
    List<Infrastructure.Data.DTO.Matchup> matchups = ViewData["Matchups"] as List<Infrastructure.Data.DTO.Matchup>;
}

<div>
    <h4>@Model.LocalizedName</h4>
    <img src="http://cdn.dota2.com/apps/dota2/images/heroes/@{@Model.FormattedName}_vert.jpg" alt="@Model.LocalizedName">
    <hr />
    
</div>
<div>
    @foreach (var matchup in matchups)
    {
        <p>Hero: @matchup.HeroId</p>
        <p>Games played: @matchup.GamesPlayed</p>
        <p>Wins: @matchup.Wins</p>
        <p>Win rate: @((matchup.Wins / matchup.GamesPlayed) * 100)%</p>
    }
    <a asp-action="Index">Back</a>
</div>
