@model _1111.ViewModels.HeroInfoViewModel

@{
    ViewData["Title"] = "HeroInfo";
}

<div>
    <h4>@Model.Hero.LocalizedName</h4>
    <img src="http://cdn.dota2.com/apps/dota2/images/heroes/@{@Model.Hero.FormattedName}_vert.jpg" alt="@Model.Hero.LocalizedName">
    <hr />
    
</div>
<div>
    @foreach (var matchup in Model.Hero.Matchups)
    {
        var percentage = ((double)matchup.Wins / matchup.GamesPlayed) * 100;
        <p>Hero: @matchup.HeroId</p>
        <p>Games played: @matchup.GamesPlayed</p>
        <p>Wins: @matchup.Wins</p>
        <p>Win rate: @percentage%</p>
    }
    <a asp-action="Index">Back</a>
</div>
